%div{id: "article-#{article.id}", class: "container"}
  .row
    .col-lg
      -# article content
      %article
        -# article header
        %header.mb-4
          -# article title
          %h1.fw-bolder.mb-1
            = article.name
          -# article meta content
          .d-flex.justify-content-between
            .text-muted.fst-italic.mb-2
              Posted on
              = format_date_time(article)
              by
              = username(article.user)
            .d-flex
              %a#dropdownMenuLink{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button", style: "color: inherit;"}
                %i.fas.fa-ellipsis-v{style: "margin-right: auto"}
              %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
                - if policy(article).show?
                  %li
                    = link_to article, class: "dropdown-item" do
                      %i.fas.fa-eye
                      Show
                - if policy(article).edit?
                  %li
                    = link_to edit_article_path(article), class: "dropdown-item" do
                      %i.fas.fa-edit
                      Edit
                - if policy(article).destroy?
                  %li
                    = link_to article, method: :delete, data: { confirm: 'Are you sure you want to delete this article?' }, class: "dropdown-item" do
                      %i.fas.fa-trash-alt
                      Destroy
          -# article tags
          %a.badge.bg-secondary.text-decoration-none.link-light{href: "#!"} Web Design
          %a.badge.bg-secondary.text-decoration-none.link-light{href: "#!"} Freebies
        -# article content
        %section.mb-5
          = article.body
      -# comments section
      %section.mb-5
        .card.bg-light
          .card-body
            -# comment form
            = render 'comments/form'
            -# comments
            - article.comments.each do |comment|
              = render 'comments/comment', comment: comment
