%div{id: "article-#{article.id}", class: "d-sm-flex flex-sm-column p-sm-1"}
  .card
    .card-body
      %h4.card-title
        = link_to article.name, article, data: { bs_toggle: 'modal', bs_target: '#showArticleModal', remote: true }
      %h6.card-title
        = User.find(article.user_id).email
      %p.card-text
        = article.body
      %p.card-text
        = article.tags.map { |t| t.name }.join(", ")
      .btn-group
        = link_to 'Edit', edit_article_path(article), class: "btn btn-primary", data: { bs_toggle: 'modal', bs_target: '#editArticleModal', remote: true } if policy(article).update?
        = link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "btn btn-danger" if policy(article).destroy?
      - article.comments.each do |comment|
        = render 'comments/comment', comment: comment
