%p#notice= notice

%h1 Articles
- @articles.each do |article|
  .d-sm-flex.flex-sm-column.p-sm-1
    .card
      .card-body
        %h4.card-title
          = link_to article.name, article
        %h6.card-title
          = User.find(article.user_id).email
        %p.card-text
          = article.body
        %p.card-text
          = article.tags.map { |t| t.name }.join(", ")
        .btn-group
          = button_to 'Edit', edit_article_path(article), method: :get, class: "btn btn-primary" if policy(article).update?
          = button_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" if policy(article).destroy?
