!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield :title
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    -# fontawesome
    = stylesheet_link_tag "https://use.fontawesome.com/releases/v5.6.1/css/all.css", crossorigin: "anonymous", integrity: "sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP", rel: "stylesheet"
    -# favicon
    = favicon_link_tag asset_path 'https://www.freeiconspng.com/thumbs/blogger-logo-icon-png/blogger-logo-icon-png-22.png'
    -# jQuery
    = javascript_include_tag "https://code.jquery.com/jquery-3.6.0.js", crossorigin: "anonymous", integrity: "sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  %body
    = render 'layouts/navbar'
    .container-fluid
      .row.my-3
        .col-12.col-md-8
          = yield
        .col-12.col-md-4
          = render 'layouts/side_widgets'
    -# = render 'layouts/footer'
